{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron text-center h-100 p-5 text-dark bg-light rounded-3">
        <h3>About Django Blog</h3>
        <hr>
        <p>This is a simple blog built with Django.</p>
    </div>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, a ipsum! Assumenda unde corrupti possimus ex impedit nisi eveniet laborum ipsam animi nihil ad beatae vel illo necessitatibus, maxime sed.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, officia quasi alias eos laboriosam dicta accusantium ea necessitatibus quis est cumque quibusdam aliquid ipsum veniam impedit deleniti eveniet esse aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.
    </p>
{% endblock body %}
