{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron text-center h-100 p-5 text-dark bg-light rounded-3">
        <h3>Welcome to Django Blog</h3>
        <p>This is a simple blog built with Django.</p>
    </div>
    <p class="text-center">
        {% if request.user.is_authenticated %}
            Logged in as {{ request.user.username }}
        {% else %}
            <a href="{% url 'user:login' %}" class="btn btn-primary">Login</a>
            <a href="{% url 'user:register' %}" class="btn btn-secondary">Register</a>
        {% endif %}
    </p>
{% endblock body %}
