{% extends "layout.html" %}
{% load static %}

{% block body %}
    <div class="jumbotron text-center h-100 p-5 text-dark bg-light rounded-3">
        <h3>Welcome to Django Blog</h3>
        <p>This is a simple blog built with Django.</p>
    </div>
    <p class="text-center">
        {% if request.user.is_authenticated %}
            Logged in as {{ request.user.username }}
        {% else %}
            <a href="{% url 'user:login' %}" class="btn btn-primary">Login</a>
            <a href="{% url 'user:register' %}" class="btn btn-secondary">Register</a>
        {% endif %}
    </p>
    {% if carousels %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            {% for carousel in carousels|slice:"5" %}
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
        {% for carousel in carousels|slice:"5" %}
        <a href="{% url 'article:detail' carousel.id %}">
          <div class="carousel-item {% if forloop.first %}{ active }{% endif %}">

            {% if carousel.article_image %}
                <img src="{{ carousel.article_image.url }}" class="d-block w-100" alt="{{ carousel.title }}">
            {% else %}
                <img src="{% static 'images/slider_placeholder.jpg' %}" class="d-block w-100" alt="{{ carousel.title }}">
            {% endif %}


            <div class="carousel-caption d-md-block">
              <h5>{{carousel.title}}</h5>
              <p>{{ carousel.content|safe|truncatewords:20 }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    {% endif %}
{% endblock body %}
